[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Access the Internet
Comment[ar]=╪з┘Д╪п╪о┘И┘Д ╪е┘Д┘Й ╪з┘Д╪е┘Ж╪к╪▒┘Ж╪к
Comment[bg]=╨Ф╨╛╤Б╤В╤К╨┐ ╨┤╨╛ ╨╕╨╜╤В╨╡╤А╨╜╨╡╤В
Comment[bn]=ржЗржирзНржЯрж╛рж░ржирзЗржЯржЯрж┐ ржЕрзНржпрж╛ржХрзНрж╕рзЗрж╕ ржХрж░рзБржи
Comment[ca]=Accedeix a Internet
Comment[cs]=P┼Щ├нstup k internetu
Comment[da]=F├е adgang til internettet
Comment[de]=Internetzugriff
Comment[el]=╬а╧Б╧М╧Г╬▓╬▒╧Г╬╖ ╧Г╧Д╬┐ ╬Ф╬╣╬▒╬┤╬п╬║╧Д╧Е╬┐
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet.
Comment[et]=P├д├дs Internetti
Comment[fi]=K├дyt├д interneti├д
Comment[fil]=I-access ang Internet
Comment[fr]=Acc├йder ├а Internet
Comment[gu]=ркЗркВркЯрк░ркирлЗркЯ ркНркХрлНрк╕рлЗрк╕ ркХрк░рлЛ
Comment[he]=╫Т╫Щ╫й╫Ф ╫Р╫Ь ╫Ф╫Р╫Щ╫а╫Ш╫и╫а╫Ш
Comment[hi]=рдЗрдВрдЯрд░рдиреЗрдЯ рддрдХ рдкрд╣реБрдВрдЪ рд╕реНрдерд╛рдкрд┐рдд рдХрд░реЗрдВ
Comment[hr]=Pristup Internetu
Comment[hu]=Internetel├йr├йs
Comment[id]=Akses Internet
Comment[it]=Accesso a Internet
Comment[ja]=уВдуГ│уВ┐уГ╝уГНуГГуГИуБлуВвуВпуВ╗уВ╣
Comment[kn]=р▓Зр▓Вр▓Яр▓░р│Нр▓ир│Жр▓Яр│Н р▓Ер▓ир│Нр▓ир│Б р▓кр│Нр▓░р▓╡р│Зр▓╢р▓┐р▓╕р▓┐
Comment[ko]=ьЭ╕эД░ыД╖ ьЧ░ъ▓░
Comment[lt]=Interneto prieiga
Comment[lv]=Piek─╝┼лt internetam
Comment[ml]=р┤Зр┤ир╡Нр┤▒р┤░р╡НтАНтАМр┤ир╡Жр┤▒р╡Нр┤▒р╡Н р┤Жр┤Хр╡НтАМр┤╕р┤╕р╡Н р┤Ър╡Жр┤пр╡Нр┤пр╡Бр┤Х
Comment[mr]=рдЗрдВрдЯрд░рдиреЗрдЯрдордзреНрдпреЗ рдкреНрд░рд╡реЗрд╢ рдХрд░рд╛
Comment[nb]=G├е til Internett
Comment[nl]=Verbinding maken met internet
Comment[or]=рмЗрмгрнНрмЯрм░рнНрмирнЗрмЯрнН рмкрнНрм░рммрнЗрм╢ рмХрм░рмирнНрмдрнБ
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder ├а Internet
Comment[pt_BR]=Acessar a internet
Comment[ro]=Accesa┼гi Internetul
Comment[ru]=╨Ф╨╛╤Б╤В╤Г╨┐ ╨▓ ╨Ш╨╜╤В╨╡╤А╨╜╨╡╤В
Comment[sk]=Pr├нstup do siete Internet
Comment[sl]=Dostop do interneta
Comment[sr]=╨Я╤А╨╕╤Б╤В╤Г╨┐╨╕╤В╨╡ ╨Ш╨╜╤В╨╡╤А╨╜╨╡╤В╤Г
Comment[sv]=G├е ut p├е Internet
Comment[ta]=роЗрогрпИропродрпНродрпИ роЕрогрпБроХрпБродро▓рпН
Comment[te]=р░Зр░Вр░Яр░░р▒Нр░ир▒Жр░Яр▒НтАМр░ир▒Б р░Жр░Хр▒Нр░╕р▒Жр░╕р▒Н р░Ър▒Жр░пр▒Нр░пр░Вр░бр░┐
Comment[th]=р╣Ар╕Вр╣Йр╕▓р╕Цр╕╢р╕Зр╕нр╕┤р╕Щр╣Ар╕Чр╕нр╕гр╣Мр╣Ар╕Щр╣Зр╕Х
Comment[tr]=─░nternet'e eri┼Яin
Comment[uk]=╨Ф╨╛╤Б╤В╤Г╨┐ ╨┤╨╛ ╨Ж╨╜╤В╨╡╤А╨╜╨╡╤В╤Г
Comment[vi]=Truy cс║нp Internet
Comment[zh_CN]=шо┐щЧоф║ТшБФч╜С
Comment[zh_HK]=щАгч╖ЪхИ░ч╢▓щЪЫч╢▓ш╖п
Comment[zh_TW]=щАгч╖ЪхИ░ч╢▓щЪЫч╢▓ш╖п
Exec=/usr/bin/google-chrome-stable --no-sandbox --disable-setuid-sandbox --start-maximized %U
GenericName=Web Browser
GenericName[ar]=┘Е╪к╪╡┘Б╪н ╪з┘Д╪┤╪и┘Г╪й
GenericName[bg]=╨г╨╡╨▒ ╨▒╤А╨░╤Г╨╖╤К╤А
GenericName[bn]=ржУрзЯрзЗржм ржмрзНрж░рж╛ржЙржЬрж╛рж░
GenericName[ca]=Navegador web
GenericName[cs]=WWW prohl├н┼╛e─Н
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=╬а╬╡╧Б╬╣╬╖╬│╬╖╧Д╬о╧В ╬╣╧Г╧Д╬┐╧Н
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=WWW-selain
GenericName[fil]=Web Browser
GenericName[fr]=Navigateur Web
GenericName[gu]=рк╡рлЗркм ркмрлНрк░рк╛ркЙркЭрк░
GenericName[he]=╫У╫д╫У╫д╫Я ╫Р╫Щ╫а╫Ш╫и╫а╫Ш
GenericName[hi]=рд╡реЗрдм рдмреНрд░рд╛рдЙрдЬрд╝рд░
GenericName[hr]=Web preglednik
GenericName[hu]=Webb├╢ng├йsz┼С
GenericName[id]=Browser Web
GenericName[it]=Browser Web
GenericName[ja]=уВжуВзуГЦуГЦуГйуВжуВ╢
GenericName[kn]=р▓Ьр▓╛р▓▓ р▓╡р│Ар▓Хр│Нр▓╖р▓Х
GenericName[ko]=ьЫ╣ ы╕МыЭ╝ьЪ░ьаА
GenericName[lt]=┼╜iniatinklio nar┼бykl─Ч
GenericName[lv]=T─лmek─╝a p─Бrl┼лks
GenericName[ml]=р┤╡р╡Жр┤мр╡Н р┤мр╡Нр┤░р╡Мр┤╕р┤░р╡НтАН
GenericName[mr]=рд╡реЗрдм рдмреНрд░рд╛рдКрдЬрд░
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[or]=рмУрнНрммрнЗрмм рммрнНрм░рм╛рмЙрмЬрм░
GenericName[pl]=Przegl─Еdarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=╨Т╨╡╨▒-╨▒╤А╨░╤Г╨╖╨╡╤А
GenericName[sk]=WWW prehliada─Н
GenericName[sl]=Spletni brskalnik
GenericName[sr]=╨Ш╨╜╤В╨╡╤А╨╜╨╡╤В ╨┐╤А╨╡╨│╨╗╨╡╨┤╨╜╨╕╨║
GenericName[sv]=Webbl├дsare
GenericName[ta]=роЗрогрпИроп роЙро▓ро╛ро╡ро┐
GenericName[te]=р░ор░╣р░╛р░др░▓ р░Ер░ир▒Нр░╡р▒Зр░╖р░┐
GenericName[th]=р╣Ар╕зр╣Зр╕Ър╣Ар╕Ър╕гр╕▓р╕зр╣Мр╣Ар╕Лр╕нр╕гр╣М
GenericName[tr]=Web Taray─▒c─▒
GenericName[uk]=╨Э╨░╨▓╤Ц╨│╨░╤В╨╛╤А ╨в╨╡╨╜╨╡╤В
GenericName[vi]=Bс╗Щ duyс╗Зt Web
GenericName[zh_CN]=ч╜Сщб╡ц╡ПшзИхЩи
GenericName[zh_HK]=ч╢▓щаБчАПшж╜хЩи
GenericName[zh_TW]=ч╢▓щаБчАПшж╜хЩи
Icon=google-chrome
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Name=Google Chrome
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-Vendor=user-custom
